In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Data Preprocessing**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/AI/House Price India.csv')
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.tail()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
14615,6762830250,42734,2,1.5,1556,20000,1.0,0,0,4,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
14616,6762830339,42734,3,2.0,1680,7000,1.5,0,0,4,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
14617,6762830618,42734,2,1.0,1070,6120,1.0,0,0,3,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
14618,6762830709,42734,4,1.0,1030,6621,1.0,0,0,4,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
14619,6762831463,42734,3,1.0,900,4770,1.0,0,0,3,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [ ]:
df.shape

(14620, 23)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
df.isnull().any()

id                                       False
Date                                     False
number of bedrooms                       False
number of bathrooms                      False
living area                              False
lot area                                 False
number of floors                         False
waterfront present                       False
number of views                          False
condition of the house                   False
grade of the house                       False
Area of the house(excluding basement)    False
Area of the basement                     False
Built Year                               False
Renovation Year                          False
Postal Code                              False
Lattitude                                False
Longitude                                False
living_area_renov                        False
lot_area_renov                           False
Number of schools nearby                 False
Distance from the airport                False
Price                                    False
dtype: bool

**ANN model**

In [ ]:
df.shape

(14620, 23)

In [ ]:

#checking the null values

df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
# checking the datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
# split the data(independent & dependent)

x = df.iloc[:,0:-1].values
y= df.iloc[:,4:5].values

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [ ]:
xtrain.shape

(10234, 22)

In [ ]:

xtest.shape

(4386, 22)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# create ANN structure

regressor = Sequential()
regressor.add(Dense(4,activation = 'relu'))
regressor.add(Dense(12,activation = 'relu'))
regressor.add(Dense(9,activation = 'relu'))
regressor.add(Dense(1,activation = 'linear'))

In [ ]:
# compiling the ANN model
 
regressor.compile(optimizer = 'adam',loss= 'mse',metrics = ['mse'])

In [ ]:
# Training the model
regressor.fit(xtrain,ytrain,batch_size = 20,epochs = 400)

Epoch 1/400
512/512 [==============================] - 2s 3ms/step - loss: 4296334.0000 - mse: 4296334.0000
Epoch 2/400
512/512 [==============================] - 1s 2ms/step - loss: 4294459.0000 - mse: 4294459.0000
Epoch 3/400
512/512 [==============================] - 1s 2ms/step - loss: 4292579.0000 - mse: 4292579.0000
Epoch 4/400
512/512 [==============================] - 1s 2ms/step - loss: 4290697.5000 - mse: 4290697.5000
Epoch 5/400
512/512 [==============================] - 1s 2ms/step - loss: 4288816.5000 - mse: 4288816.5000
Epoch 6/400
512/512 [==============================] - 1s 2ms/step - loss: 4286935.0000 - mse: 4286935.0000
Epoch 7/400
512/512 [==============================] - 1s 2ms/step - loss: 4285059.0000 - mse: 4285059.0000
Epoch 8/400
512/512 [==============================] - 1s 2ms/step - loss: 4283178.0000 - mse: 4283178.0000
Epoch 9/400
512/512 [==============================] - 1s 2ms/step - loss: 4281294.0000 - mse: 4281294.0000
Epoch 10/400
512/512 [==============================] - 1s 2ms/step - loss: 4279418.5000 - mse: 4279418.0000
Epoch 11/400
512/512 [==============================] - 1s 2ms/step - loss: 4277539.0000 - mse: 4277539.0000
Epoch 12/400
512/512 [==============================] - 1s 2ms/step - loss: 4275664.5000 - mse: 4275664.5000
Epoch 13/400
512/512 [==============================] - 1s 3ms/step - loss: 4273786.0000 - mse: 4273786.0000
Epoch 14/400
512/512 [==============================] - 1s 2ms/step - loss: 4271906.5000 - mse: 4271906.5000
Epoch 15/400
512/512 [==============================] - 1s 3ms/step - loss: 4270029.5000 - mse: 4270029.5000
Epoch 16/400
512/512 [==============================] - 1s 2ms/step - loss: 4268153.5000 - mse: 4268153.5000
Epoch 17/400
512/512 [==============================] - 1s 2ms/step - loss: 4266278.0000 - mse: 4266278.0000
Epoch 18/400
512/512 [==============================] - 1s 2ms/step - loss: 4264405.0000 - mse: 4264405.0000
Epoch 19/400
512/512 [==============================] - 1s 2ms/step - loss: 4262532.0000 - mse: 4262532.0000
Epoch 20/400
512/512 [==============================] - 1s 2ms/step - loss: 4260655.5000 - mse: 4260655.5000
Epoch 21/400
512/512 [==============================] - 1s 2ms/step - loss: 4258780.0000 - mse: 4258780.0000
Epoch 22/400
512/512 [==============================] - 1s 2ms/step - loss: 4256907.0000 - mse: 4256907.0000
Epoch 23/400
512/512 [==============================] - 1s 2ms/step - loss: 4255031.0000 - mse: 4255031.0000
Epoch 24/400
512/512 [==============================] - 1s 2ms/step - loss: 4253164.0000 - mse: 4253164.0000
Epoch 25/400
512/512 [==============================] - 1s 2ms/step - loss: 4251292.5000 - mse: 4251292.0000
Epoch 26/400
512/512 [==============================] - 1s 2ms/step - loss: 4249418.5000 - mse: 4249418.5000
Epoch 27/400
512/512 [==============================] - 1s 2ms/step - loss: 4247551.0000 - mse: 4247551.0000
Epoch 28/400
512/512 [==============================] - 1s 3ms/step - loss: 4245682.5000 - mse: 4245682.5000
Epoch 29/400
512/512 [==============================] - 1s 3ms/step - loss: 4243814.0000 - mse: 4243814.0000
Epoch 30/400
512/512 [==============================] - 1s 3ms/step - loss: 4241944.5000 - mse: 4241944.5000
Epoch 31/400
512/512 [==============================] - 1s 2ms/step - loss: 4240073.0000 - mse: 4240073.0000
Epoch 32/400
512/512 [==============================] - 1s 2ms/step - loss: 4238209.5000 - mse: 4238209.5000
Epoch 33/400
512/512 [==============================] - 1s 2ms/step - loss: 4236345.5000 - mse: 4236345.5000
Epoch 34/400
512/512 [==============================] - 1s 2ms/step - loss: 4234478.0000 - mse: 4234478.0000
Epoch 35/400
512/512 [==============================] - 1s 2ms/step - loss: 4232608.0000 - mse: 4232608.0000
Epoch 36/400
512/512 [==============================] - 1s 2ms/step - loss: 4230743.5000 - mse: 4230743.5000
Epoch 37/400
512/512 [==============================] - 1s 2ms/step - loss: 4228878.5000 - mse: 4228878.5000
Epoch 38/400
512/512 [==============================] - 1s 2ms/step - loss: 4227012.5000 - mse: 4227012.5000
Epoch 39/400
512/512 [==============================] - 1s 2ms/step - loss: 4225149.5000 - mse: 4225149.5000
Epoch 40/400
512/512 [==============================] - 1s 2ms/step - loss: 4223286.0000 - mse: 4223286.0000
Epoch 41/400
512/512 [==============================] - 1s 2ms/step - loss: 4221423.5000 - mse: 4221423.5000
Epoch 42/400
512/512 [==============================] - 1s 3ms/step - loss: 4219558.5000 - mse: 4219558.5000
Epoch 43/400
512/512 [==============================] - 1s 3ms/step - loss: 4217700.5000 - mse: 4217700.5000
Epoch 44/400
512/512 [==============================] - 1s 2ms/step - loss: 4215840.0000 - mse: 4215840.0000
Epoch 45/400
512/512 [==============================] - 1s 2ms/step - loss: 4213979.0000 - mse: 4213979.0000
Epoch 46/400
512/512 [==============================] - 1s 2ms/step - loss: 4212118.5000 - mse: 4212118.5000
Epoch 47/400
512/512 [==============================] - 1s 2ms/step - loss: 4210258.0000 - mse: 4210258.0000
Epoch 48/400
512/512 [==============================] - 1s 2ms/step - loss: 4208401.5000 - mse: 4208401.5000
Epoch 49/400
512/512 [==============================] - 1s 2ms/step - loss: 4206545.0000 - mse: 4206545.0000
Epoch 50/400
512/512 [==============================] - 1s 2ms/step - loss: 4204684.0000 - mse: 4204684.0000
Epoch 51/400
512/512 [==============================] - 1s 2ms/step - loss: 4202833.0000 - mse: 4202833.0000
Epoch 52/400
512/512 [==============================] - 1s 2ms/step - loss: 4200973.5000 - mse: 4200973.5000
Epoch 53/400
512/512 [==============================] - 1s 2ms/step - loss: 4199113.0000 - mse: 4199113.0000
Epoch 54/400
512/512 [==============================] - 1s 2ms/step - loss: 4197260.0000 - mse: 4197260.0000
Epoch 55/400
512/512 [==============================] - 1s 2ms/step - loss: 4195406.0000 - mse: 4195406.0000
Epoch 56/400
512/512 [==============================] - 1s 3ms/step - loss: 4193554.2500 - mse: 4193554.2500
Epoch 57/400
512/512 [==============================] - 1s 3ms/step - loss: 4191697.7500 - mse: 4191697.7500
Epoch 58/400
512/512 [==============================] - 1s 3ms/step - loss: 4189841.0000 - mse: 4189841.5000
Epoch 59/400
512/512 [==============================] - 1s 2ms/step - loss: 4187988.0000 - mse: 4187988.0000
Epoch 60/400
512/512 [==============================] - 1s 2ms/step - loss: 4186134.0000 - mse: 4186134.0000
Epoch 61/400
512/512 [==============================] - 1s 2ms/step - loss: 4184280.5000 - mse: 4184280.2500
Epoch 62/400
512/512 [==============================] - 1s 2ms/step - loss: 4182432.7500 - mse: 4182432.7500
Epoch 63/400
512/512 [==============================] - 1s 2ms/step - loss: 4180582.0000 - mse: 4180582.0000
Epoch 64/400
512/512 [==============================] - 1s 2ms/step - loss: 4178727.7500 - mse: 4178727.7500
Epoch 65/400
512/512 [==============================] - 1s 2ms/step - loss: 4176877.5000 - mse: 4176877.5000
Epoch 66/400
512/512 [==============================] - 1s 2ms/step - loss: 4175030.7500 - mse: 4175030.7500
Epoch 67/400
512/512 [==============================] - 1s 2ms/step - loss: 4173178.7500 - mse: 4173178.7500
Epoch 68/400
512/512 [==============================] - 1s 2ms/step - loss: 4171330.5000 - mse: 4171330.5000
Epoch 69/400
512/512 [==============================] - 1s 2ms/step - loss: 4169480.2500 - mse: 4169480.2500
Epoch 70/400
512/512 [==============================] - 1s 3ms/step - loss: 4167635.5000 - mse: 4167635.5000
Epoch 71/400
512/512 [==============================] - 1s 3ms/step - loss: 4165789.2500 - mse: 4165789.2500
Epoch 72/400
512/512 [==============================] - 1s 2ms/step - loss: 4163946.5000 - mse: 4163946.5000
Epoch 73/400
512/512 [==============================] - 1s 2ms/step - loss: 4162096.2500 - mse: 4162096.2500
Epoch 74/400
512/512 [==============================] - 1s 2ms/step - loss: 4160251.2500 - mse: 4160251.2500
Epoch 75/400
512/512 [==============================] - 1s 2ms/step - loss: 4158405.2500 - mse: 4158405.2500
Epoch 76/400
512/512 [==============================] - 1s 2ms/step - loss: 4156560.2500 - mse: 4156560.2500
Epoch 77/400
512/512 [==============================] - 1s 2ms/step - loss: 4154719.5000 - mse: 4154719.5000
Epoch 78/400
512/512 [==============================] - 1s 2ms/step - loss: 4152877.2500 - mse: 4152877.2500
Epoch 79/400
512/512 [==============================] - 1s 2ms/step - loss: 4151031.0000 - mse: 4151031.0000
Epoch 80/400
512/512 [==============================] - 1s 2ms/step - loss: 4149189.5000 - mse: 4149189.2500
Epoch 81/400
512/512 [==============================] - 1s 2ms/step - loss: 4147349.2500 - mse: 4147349.2500
Epoch 82/400
512/512 [==============================] - 1s 2ms/step - loss: 4145505.7500 - mse: 4145505.7500
Epoch 83/400
512/512 [==============================] - 1s 2ms/step - loss: 4143663.2500 - mse: 4143663.2500
Epoch 84/400
512/512 [==============================] - 1s 2ms/step - loss: 4141829.2500 - mse: 4141829.2500
Epoch 85/400
512/512 [==============================] - 1s 2ms/step - loss: 4139985.0000 - mse: 4139985.0000
Epoch 86/400
512/512 [==============================] - 1s 3ms/step - loss: 4138144.2500 - mse: 4138144.2500
Epoch 87/400
512/512 [==============================] - 1s 3ms/step - loss: 4136305.5000 - mse: 4136305.5000
Epoch 88/400
512/512 [==============================] - 1s 2ms/step - loss: 4134466.2500 - mse: 4134466.2500
Epoch 89/400
512/512 [==============================] - 1s 2ms/step - loss: 4132627.7500 - mse: 4132627.7500
Epoch 90/400
512/512 [==============================] - 1s 2ms/step - loss: 4130789.5000 - mse: 4130789.5000
Epoch 91/400
512/512 [==============================] - 1s 2ms/step - loss: 4128953.2500 - mse: 4128953.2500
Epoch 92/400
512/512 [==============================] - 1s 2ms/step - loss: 4127113.0000 - mse: 4127113.0000
Epoch 93/400
512/512 [==============================] - 1s 2ms/step - loss: 4125280.2500 - mse: 4125280.2500
Epoch 94/400
512/512 [==============================] - 1s 2ms/step - loss: 4123447.7500 - mse: 4123447.7500
Epoch 95/400
512/512 [==============================] - 1s 2ms/step - loss: 4121616.2500 - mse: 4121616.2500
Epoch 96/400
512/512 [==============================] - 1s 2ms/step - loss: 4119778.2500 - mse: 4119778.2500
Epoch 97/400
512/512 [==============================] - 1s 2ms/step - loss: 4117948.0000 - mse: 4117948.0000
Epoch 98/400
512/512 [==============================] - 1s 2ms/step - loss: 4116111.7500 - mse: 4116111.7500
Epoch 99/400
512/512 [==============================] - 1s 3ms/step - loss: 4114280.0000 - mse: 4114280.0000
Epoch 100/400
512/512 [==============================] - 1s 3ms/step - loss: 4112446.0000 - mse: 4112446.0000
Epoch 101/400
512/512 [==============================] - 1s 2ms/step - loss: 4110618.2500 - mse: 4110618.2500
Epoch 102/400
512/512 [==============================] - 1s 2ms/step - loss: 4108785.0000 - mse: 4108785.0000
Epoch 103/400
512/512 [==============================] - 1s 2ms/step - loss: 4106955.2500 - mse: 4106955.2500
Epoch 104/400
512/512 [==============================] - 1s 2ms/step - loss: 4105125.0000 - mse: 4105125.0000
Epoch 105/400
512/512 [==============================] - 1s 2ms/step - loss: 4103295.7500 - mse: 4103295.7500
Epoch 106/400
512/512 [==============================] - 1s 2ms/step - loss: 4101466.7500 - mse: 4101466.7500
Epoch 107/400
512/512 [==============================] - 1s 2ms/step - loss: 4099636.5000 - mse: 4099636.5000
Epoch 108/400
512/512 [==============================] - 1s 2ms/step - loss: 4097810.2500 - mse: 4097810.2500
Epoch 109/400
512/512 [==============================] - 1s 2ms/step - loss: 4095984.0000 - mse: 4095984.0000
Epoch 110/400
512/512 [==============================] - 1s 2ms/step - loss: 4094153.7500 - mse: 4094153.7500
Epoch 111/400
512/512 [==============================] - 1s 2ms/step - loss: 4092329.5000 - mse: 4092329.5000
Epoch 112/400
512/512 [==============================] - 1s 2ms/step - loss: 4090502.5000 - mse: 4090502.5000
Epoch 113/400
512/512 [==============================] - 1s 3ms/step - loss: 4088675.7500 - mse: 4088675.7500
Epoch 114/400
512/512 [==============================] - 1s 3ms/step - loss: 4086854.7500 - mse: 4086854.7500
Epoch 115/400
512/512 [==============================] - 1s 2ms/step - loss: 4085031.5000 - mse: 4085031.5000
Epoch 116/400
512/512 [==============================] - 1s 2ms/step - loss: 4083206.5000 - mse: 4083206.5000
Epoch 117/400
512/512 [==============================] - 1s 2ms/step - loss: 4081384.2500 - mse: 4081383.7500
Epoch 118/400
512/512 [==============================] - 1s 2ms/step - loss: 4079558.2500 - mse: 4079558.2500
Epoch 119/400
512/512 [==============================] - 1s 2ms/step - loss: 4077735.7500 - mse: 4077735.7500
Epoch 120/400
512/512 [==============================] - 1s 2ms/step - loss: 4075915.7500 - mse: 4075915.5000
Epoch 121/400
512/512 [==============================] - 1s 2ms/step - loss: 4074094.2500 - mse: 4074094.2500
Epoch 122/400
512/512 [==============================] - 1s 2ms/step - loss: 4072272.0000 - mse: 4072272.0000
Epoch 123/400
512/512 [==============================] - 1s 2ms/step - loss: 4070451.7500 - mse: 4070451.7500
Epoch 124/400
512/512 [==============================] - 1s 2ms/step - loss: 4068632.2500 - mse: 4068632.2500
Epoch 125/400
512/512 [==============================] - 1s 2ms/step - loss: 4066813.7500 - mse: 4066813.7500
Epoch 126/400
512/512 [==============================] - 1s 2ms/step - loss: 4064999.0000 - mse: 4064999.0000
Epoch 127/400
512/512 [==============================] - 1s 3ms/step - loss: 4063180.0000 - mse: 4063180.0000
Epoch 128/400
512/512 [==============================] - 1s 2ms/step - loss: 4061360.0000 - mse: 4061360.0000
Epoch 129/400
512/512 [==============================] - 1s 3ms/step - loss: 4059549.0000 - mse: 4059549.0000
Epoch 130/400
512/512 [==============================] - 1s 2ms/step - loss: 4057730.7500 - mse: 4057730.7500
Epoch 131/400
512/512 [==============================] - 1s 2ms/step - loss: 4055917.7500 - mse: 4055917.7500
Epoch 132/400
512/512 [==============================] - 1s 2ms/step - loss: 4054099.5000 - mse: 4054099.5000
Epoch 133/400
512/512 [==============================] - 1s 2ms/step - loss: 4052288.5000 - mse: 4052288.5000
Epoch 134/400
512/512 [==============================] - 1s 2ms/step - loss: 4050474.5000 - mse: 4050474.5000
Epoch 135/400
512/512 [==============================] - 1s 2ms/step - loss: 4048659.5000 - mse: 4048659.5000
Epoch 136/400
512/512 [==============================] - 1s 2ms/step - loss: 4046850.5000 - mse: 4046850.5000
Epoch 137/400
512/512 [==============================] - 1s 2ms/step - loss: 4045039.7500 - mse: 4045039.7500
Epoch 138/400
512/512 [==============================] - 1s 2ms/step - loss: 4043224.7500 - mse: 4043224.7500
Epoch 139/400
512/512 [==============================] - 1s 2ms/step - loss: 4041412.7500 - mse: 4041412.7500
Epoch 140/400
512/512 [==============================] - 1s 2ms/step - loss: 4039606.2500 - mse: 4039606.2500
Epoch 141/400
512/512 [==============================] - 1s 3ms/step - loss: 4037792.0000 - mse: 4037792.0000
Epoch 142/400
512/512 [==============================] - 1s 3ms/step - loss: 4035984.5000 - mse: 4035984.5000
Epoch 143/400
512/512 [==============================] - 1s 3ms/step - loss: 4034178.2500 - mse: 4034178.2500
Epoch 144/400
512/512 [==============================] - 1s 2ms/step - loss: 4032368.7500 - mse: 4032368.7500
Epoch 145/400
512/512 [==============================] - 1s 2ms/step - loss: 4030563.2500 - mse: 4030563.2500
Epoch 146/400
512/512 [==============================] - 1s 2ms/step - loss: 4028751.7500 - mse: 4028751.7500
Epoch 147/400
512/512 [==============================] - 1s 2ms/step - loss: 4026943.2500 - mse: 4026943.2500
Epoch 148/400
512/512 [==============================] - 1s 2ms/step - loss: 4025134.5000 - mse: 4025134.5000
Epoch 149/400
512/512 [==============================] - 1s 2ms/step - loss: 4023326.2500 - mse: 4023326.2500
Epoch 150/400
512/512 [==============================] - 1s 2ms/step - loss: 4021524.2500 - mse: 4021524.2500
Epoch 151/400
512/512 [==============================] - 1s 2ms/step - loss: 4019718.5000 - mse: 4019718.5000
Epoch 152/400
512/512 [==============================] - 1s 2ms/step - loss: 4017912.7500 - mse: 4017912.7500
Epoch 153/400
512/512 [==============================] - 1s 2ms/step - loss: 4016108.5000 - mse: 4016108.5000
Epoch 154/400
512/512 [==============================] - 1s 2ms/step - loss: 4014308.5000 - mse: 4014308.5000
Epoch 155/400
512/512 [==============================] - 1s 3ms/step - loss: 4012509.0000 - mse: 4012508.2500
Epoch 156/400
512/512 [==============================] - 1s 2ms/step - loss: 4010702.5000 - mse: 4010702.5000
Epoch 157/400
512/512 [==============================] - 1s 3ms/step - loss: 4008901.2500 - mse: 4008901.2500
Epoch 158/400
512/512 [==============================] - 1s 2ms/step - loss: 4007094.7500 - mse: 4007094.7500
Epoch 159/400
512/512 [==============================] - 1s 2ms/step - loss: 4005296.0000 - mse: 4005296.0000
Epoch 160/400
512/512 [==============================] - 1s 2ms/step - loss: 4003495.5000 - mse: 4003495.5000
Epoch 161/400
512/512 [==============================] - 1s 2ms/step - loss: 4001696.7500 - mse: 4001696.7500
Epoch 162/400
512/512 [==============================] - 1s 2ms/step - loss: 3999892.0000 - mse: 3999892.0000
Epoch 163/400
512/512 [==============================] - 1s 2ms/step - loss: 3998093.7500 - mse: 3998093.7500
Epoch 164/400
512/512 [==============================] - 1s 2ms/step - loss: 3996294.0000 - mse: 3996294.0000
Epoch 165/400
512/512 [==============================] - 1s 2ms/step - loss: 3994497.7500 - mse: 3994497.7500
Epoch 166/400
512/512 [==============================] - 1s 2ms/step - loss: 3992697.7500 - mse: 3992697.7500
Epoch 167/400
512/512 [==============================] - 1s 2ms/step - loss: 3990905.2500 - mse: 3990905.2500
Epoch 168/400
512/512 [==============================] - 1s 2ms/step - loss: 3989108.2500 - mse: 3989108.2500
Epoch 169/400
512/512 [==============================] - 1s 3ms/step - loss: 3987311.0000 - mse: 3987311.0000
Epoch 170/400
512/512 [==============================] - 2s 3ms/step - loss: 3985517.2500 - mse: 3985517.2500
Epoch 171/400
512/512 [==============================] - 2s 3ms/step - loss: 3983720.2500 - mse: 3983720.5000
Epoch 172/400
512/512 [==============================] - 1s 2ms/step - loss: 3981928.0000 - mse: 3981928.0000
Epoch 173/400
512/512 [==============================] - 1s 2ms/step - loss: 3980133.0000 - mse: 3980133.2500
Epoch 174/400
512/512 [==============================] - 1s 2ms/step - loss: 3978343.0000 - mse: 3978343.0000
Epoch 175/400
512/512 [==============================] - 1s 2ms/step - loss: 3976550.0000 - mse: 3976550.0000
Epoch 176/400
512/512 [==============================] - 1s 2ms/step - loss: 3974758.2500 - mse: 3974758.2500
Epoch 177/400
512/512 [==============================] - 1s 2ms/step - loss: 3972967.0000 - mse: 3972967.0000
Epoch 178/400
512/512 [==============================] - 1s 2ms/step - loss: 3971176.0000 - mse: 3971176.0000
Epoch 179/400
512/512 [==============================] - 1s 2ms/step - loss: 3969384.5000 - mse: 3969384.5000
Epoch 180/400
512/512 [==============================] - 1s 2ms/step - loss: 3967595.2500 - mse: 3967595.2500
Epoch 181/400
512/512 [==============================] - 1s 2ms/step - loss: 3965808.5000 - mse: 3965808.5000
Epoch 182/400
512/512 [==============================] - 1s 2ms/step - loss: 3964014.7500 - mse: 3964014.7500
Epoch 183/400

In [ ]:
ytest

array([[1440],
       [4270],
       [1010],
       ...,
       [2190],
       [1510],
       [1340]])

In [ ]:
y_pred = regressor.predict(xtest)
y_pred

138/138 [==============================] - 1s 1ms/step

array([[453.80457],
       [453.80457],
       [453.80457],
       ...,
       [453.80457],
       [453.80457],
       [453.80457]], dtype=float32)

In [ ]:

# evaluation

from sklearn.metrics import r2_score

r2_score(ytest,y_pred)*100

-314.12041413932104

In [ ]:
y_pred.flatten()

array([453.80457, 453.80457, 453.80457, ..., 453.80457, 453.80457,
       453.80457], dtype=float32)

In [ ]:
pd.DataFrame({'Actual value':ytest.flatten(),'Predicted value':y_pred.flatten()}).head(10)

   Actual value  Predicted value
0          1440       453.804565
1          4270       453.804565
2          1010       453.804565
3          1970       453.804565
4          2320       453.804565
5          1390       453.804565
6          4070       453.804565
7          2050       453.804565
8          6880       453.804565
9          2690       453.804565

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
df.shape

(14620, 23)

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB